<template name="step2">
	<div class="column">
		<h1>DJ Contact Details</h1>
		<p>Please enter or verify the contact details for each person in your group. All fields are required, except campus phone (which is optional, but please provide your campus extension if you have one).</p>
		<p><strong>Terms of experience:</strong> Enter the terms of experience for <em>everyone in your group</em>. If you're new to radio, choose zero (0).</p>
		<form class="ui form">
			{{#each dj in djs}}
				{{> contactForm (getDJData dj)}}
			{{/each}}
		</form>
	</div>
</template>

<template name="contactForm">
	<div class="ui segment">
		<h4 class="ui header">{{displayName}}</h4>
		<div class="three fields">
			<div class="field">
	      <label>Full Name</label>
	      <input type="text" name="name-{{netid}}" placeholder="Friedrich Schiller" value="{{name}}">
	    </div>
			<div class="field">
	      <label>Year</label>
				<select class="ui dropdown" name="year-{{netid}}">
		      {{#each year in years}}
						<option value="{{year}}" {{selected year}}>{{year}}</option>
					{{/each}}
		    </select>
			</div>
			<div class="field">
	      <label>Terms of Experience</label>
	      <input type="text" name="terms-{{netid}}" placeholder="0" value="{{terms}}">
	    </div>
		</div>
		<div class="three fields">
			<div class="field">
	      <label>Email Address</label>
	      <input type="email" name="email-{{netid}}" placeholder="fschiller@carleton.edu" value="{{email}}">
	    </div>
			<div class="field">
	      <label>Cell Phone Number</label>
	      <input type="tel" name="phone-{{netid}}" placeholder="(507) 222-4127" value="{{phone}}">
	    </div>
			<div class="field">
	      <label>Campus Extension</label>
	      <input type="tel" name="campusPhone-{{netid}}" placeholder="4444" value="{{campusPhone}}">
	    </div>
		</div>
	</div>
</template>
