<template name="myShows">
	<div class="column">
		{{#unless ignoreHeaders}}
			<h1 class="ui header">My Shows</h1>
		{{/unless}}
		<h3 class="ui header">Current Applications</h3>
		{{#if hasApplications}}
			<table class="ui yellow table">
				<thead>
					<tr>
						<th>Show Name</th>
						<th>DJs</th>
						<th>Submitted</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{{#each currentApplications}}
						<tr>
							<td>{{title}}</td>
							<td></td>
							<td>Incomplete</td>
							<td>
								<a href="{{pathFor route='shows.application'}}" class="ui primary circular icon button"><i class="edit icon"></i></a>
								{{#if isOwner}}
									<a href="" class="ui circular icon delete-show button"><i class="trash icon"></i></a>
								{{/if}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{else}}
			<p>Looks like you don't have any active applications at the moment.</p>
		{{/if}}
		<div class="ui modal" id="delete-show-modal">
			<div class="header">Confirm Deletion<span style="display:none;" id="delete-show-id">asdfasdfasdf</span></div>
			<div class="content">
				<p>Are you sure you want to delete the application for <strong id="delete-show-name">Show Name</strong>?</p>
				<p><em>This cannot be undone!</em></p>
			</div>
			<div class="actions">
				<div class="ui cancel button">Cancel</div>
				<div class="ui ok red button">Yes, delete this application</div>
			</div>
		</div>
	</div>
</template>
