<template name="myShows">
	<div class="column">
		{{#unless ignoreHeaders}}
			<h1 class="ui header">My Shows</h1>
		{{/unless}}
		<div class="ui message">
			Applications close on Saturday, April 2, 2016 at 12:01 AM. Be sure to sign and submit your application by then to ensure your seniority is honored. <strong>Your application is not complete until you have signed it!</strong>
		</div>
		{{#unless hasAnyApplications}}
			<p>Looks like you don't have any applications for Spring Term 2016. You can add one by {{#linkTo route='shows.application.new'}}clicking here{{/linkTo}} or by clicking "Start application" in the sidebar.</p>
		{{/unless}}
		{{#if hasCompletedApplications}}
		<h3 class="ui header">Completed Applications</h3>
		<table class="ui green table">
			<thead>
				<tr>
					<th class="nine wide">Show Name</th>
					<th class="four wide">DJs</th>
					<th class="three wide">Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each completedApplications}}
					<tr>
						<td>{{title}}</td>
						<td>
							<div class="hide-tablet">
								{{#each dj in djs}}
									<p><div class="ui image label"><img src="https://apps.carleton.edu/stock/ldapimage.php?id={{dj}}">{{displayName dj}}</div></p>
								{{/each}}
							</div>
							<div class="only-tablet">
								<ul>
									{{#each dj in djs}}<li>{{displayName dj}}</li>{{/each}}
								</ul>
							</div>
						</td>
						<td>
							<a href="{{pathFor route='shows.view'}}" class="ui green circular icon button"><i class="unhide icon"></i>/<i class="print icon"></i></a>
							{{#if isOwner}}
								<a href="" class="ui circular icon delete-show button"><i class="trash icon"></i></a>
							{{/if}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		{{/if}}
		{{#if hasActiveApplications}}
			<h3 class="ui header">Active Applications</h3>
			<p>These applications have not been submitted yet. Click the blue <i class="blue edit icon"></i>edit icon to finish an application.</p>
			<table class="ui yellow table">
				<thead>
					<tr>
						<th class="nine wide">Show Name</th>
						<th class="four wide">DJs</th>
						<th class="three wide">Actions</th>
					</tr>
				</thead>
				<tbody>
					{{#each activeApplications}}
						<tr>
							<td>{{title}}</td>
							<td>
								<div class="hide-tablet">
									{{#each dj in djs}}
										<p><div class="ui image label"><img src="https://apps.carleton.edu/stock/ldapimage.php?id={{dj}}">{{displayName dj}}</div></p>
									{{/each}}
								</div>
								<div class="only-tablet">
									<ul>
										{{#each dj in djs}}<li>{{displayName dj}}</li>{{/each}}
									</ul>
								</div>
							</td>
							<td>
								<a href="{{pathFor route='shows.application'}}" class="ui primary circular icon button"><i class="edit icon"></i></a>
								{{#if isOwner}}
									<a href="" class="ui circular icon delete-show button"><i class="trash icon"></i></a>
								{{/if}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{/if}}
		<div class="ui modal" id="delete-show-modal">
			<div class="header">Confirm Deletion<span style="display:none;" id="delete-show-id">asdfasdfasdf</span></div>
			<div class="content">
				<p>Are you sure you want to delete the application for <strong id="delete-show-name">Show Name</strong>?</p>
				<p><em>This cannot be undone!</em></p>
			</div>
			<div class="actions">
				<div class="ui cancel button">Cancel</div>
				<div class="ui ok red button">Yes, delete this application</div>
			</div>
		</div>
	</div>
</template>
