<template name="djList">
	<div class="column">
		<h1>DJs</h1>
		<p>This page lists all DJs that are listed on at least one completed application.</p>
		<table class="ui table">
			<thead>
				<tr>
					<th class="six wide">Name</th>
					<th class="three wide">NetID</th>
					<th class="two wide">Year</th>
					<th class="two wide">Terms</th>
					<th class="three wide">Phone</th>
				</tr>
			</thead>
			<tbody>
				{{#each list}}
					<tr>
						<td><div class="ui {{#if board}}blue{{/if}} image label"><img src="https://apps.carleton.edu/stock/ldapimage.php?id={{netid}}">{{name}}{{#if board}}<div class="detail">Board of Directors</div>{{/if}}</div></td>
						<td><code>{{netid}}</code></td>
						<td>{{year}}</td>
						<td>{{terms}}</td>
						<td>{{phone}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<h3>Just NetIDs</h3>
		<p>This is the list of NetIDs that you can copy and paste into Sympa for automatic list creation.</p>
		<ul>
			{{#each list}}
				<li><code>{{netid}}@carleton.edu</code></li>
			{{else}}
				<li>Just kidding, there aren't any DJs signed up yet.</li>
			{{/each}}
		</ul>
		<h3>New DJs</h3>
		<p>The following DJs have no terms of experience and therefore require training.</p>
		<ul>
			{{#each newDJs}}
				<li><code>{{netid}}</code></li>
			{{else}}
				<li>All DJs have received training.</li>
			{{/each}}
		</ul>
	</div>
</template>
