<template name="allShows">
	<div class="column">
		<h1>All Shows</h1>
		{{#if shows}}
			<table class="ui table">
				<thead>
					<tr>
						<th class="six wide">Show Title</th>
						<th class="four wide">DJs</th>
						<th class="three wide">Priority</th>
						<th class="three wide">Actions</th>
					</tr>
				</thead>
				<tbody>
					{{#each shows}}
						<tr>
							<td>{{title}}</td>
							<td>{{#each dj in djs}}
								<p><div class="ui image label"><img src="https://apps.carleton.edu/stock/ldapimage.php?id={{dj}}">{{displayName dj}}</div></p>
							{{/each}}</td>
							<td>{{priority}}</td>
							<td><a href="{{pathFor route='shows.view'}}" class="ui green circular icon button"><i class="unhide icon"></i>/<i class="print icon"></i></a></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{else}}
			<p>There are no completed applications yet.</p>
		{{/if}}
	</div>
</template>
