<template name="step5">
	<div class="column">
		<h1>Review {{type}} Application</h1>
		<div class="ui icon warning message">
			<i class="warning icon"></i>
			<div class="content">
				<div class="header">
					Your application is not complete yet!
				</div>
				<p>Please review the information below and make sure it is correct. If all is well, enter your name(s) in the space(s) provided and click "Submit Application". <strong>You cannot be scheduled until you complete this step!</strong></p>
			</div>
		</div>
		<div class="ui stackable grid" style="padding-bottom: 1rem;">
			<div class="eight wide column">
				<div class="ui red segment">
					<h3>Content</h3>
					{{#each contentData}}
						<h2 class="ui sub header">{{field}}</h2>
						<p>{{data}}</p>
					{{/each}}
					<p><button type="button" class="large ui button backTo" data-destination="3">Back to Content</button></p>
				</div>
			</div>
			<div class="eight wide column">
				<div class="ui blue segment">
					<h3>DJs</h3>
					<div class="ui divided list">
						{{#each dj in djs}}
							<div class="item">
						    {{#if djCleared dj "isOK"}}
									<div class="ui green horizontal label">
										OK
									</div>
								{{else}}
									<div class="ui red horizontal icon label">
										<i class="warning icon"></i>
										{{djCleared dj "message"}}
									</div>
								{{/if}}
						    {{displayName dj}}
						  </div>
						{{/each}}
					</div>
					<p><button type="button" class="large ui button backTo" data-destination="1">Back to DJs</button></p>
				</div>
			</div>
			<div class="eight wide column">
				<div class="ui green segment">
					<h3>Scheduling</h3>
					{{#each schedulingData}}
						<h2 class="ui sub header">{{field}}</h2>
						<p>{{data}}</p>
					{{/each}}
					{{#unless bandemonium}}
						<h2 class="ui sub header">Other conflicts</h2>
						<div class="ui divided list">
							{{#each conflicts.other}}
								<div class="item">
									{{#each displayDays days}}
										<div class="ui {{color}} horizontal label">{{display}}</div>
									{{/each}}
									{{displayTime start}} - {{displayTime end}}
								</div>
							{{/each}}
						</div>
						<h2 class="ui sub header">Preferences</h2>
						<div class="ui divided list">
							{{#each preferences}}
								<div class="item">
									{{#each displayDays days}}
										<div class="ui {{color}} horizontal label">{{display}}</div>
									{{/each}}
									{{displayTime start}} - {{displayTime end}}
								</div>
							{{/each}}
						</div>
						<h2 class="ui sub header">Additional concerns</h2>
						<p>{{concerns}}</p>
					{{/unless}}
					<p><button type="button" class="large ui button backTo" data-destination="4">Back to Scheduling</button></p>
				</div>
			</div>
			<div class="eight wide column">
				<div class="ui yellow segment">
					<h3>Signatures</h3>
					<p>All DJs must read and agree to the following before your show will be scheduled.</p>
					<p><strong>"I am a current Carleton student in good standing with the College, and am eligible to participate in KRLX. I understand that it is my responsibility to know and follow the KRLX operating guidelines."</strong></p>
					<p>To sign this application, each DJ must enter their name in the correct box below.</p>
					<form name="djSignatures" class="ui form">
						{{#each dj in djs}}
							<div class="field">
								<label>{{displayName dj}}</label>
								{{#if completed}}
									<input type="text" class="nameInput" readonly value="{{displayName dj}}">
								{{else}}
									{{#if djCleared dj "isOK"}}
										<input type="text" class="nameInput" data-match="{{displayName dj}}" name="signature-{{dj}}" placeholder="{{displayName dj}}">
									{{else}}
										<input type="text" class="nameInput" disabled placeholder="Missing details from {{displayName dj}}">
									{{/if}}
								{{/if}}
							</div>
						{{/each}}
						<div class="field">
							<button type="submit" class="ui huge fluid primary button" disabled="{{disableButton}}" id="finishApplication">Submit Application</button>
						</div>
						<div class="field">
							<div class="ui visible warning message">
								<strong>Heads up:</strong> Once your application is submitted you cannot edit it, but you can cancel it if necessary. Check everything over before clicking Submit.
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="ui modal" id="confirmModal">
			<div class="header">Confirm Submission</div>
			<div class="content">
				Once you submit this application, you cannot edit it. Are you sure you're ready to submit?
			</div>
			<div class="actions">
				<div class="ui cancel red labeled icon button"><i class="remove icon"></i>Nope</div>
				<div class="ui ok green labeled icon button" data-show-id="{{_id}}" id="yesImSureButton"><i class="checkmark icon"></i>Yes, submit</div>
			</div>
		</div>
		<div class="ui modal" id="errorModal">
			<div class="header" id="errorModalHeader">Error</div>
			<div class="content">
				<p id="errorModalContent">Something went wrong :(</p>
			</div>
			<div class="actions">
				<div class="ui cancel button">Okay</div>
			</div>
		</div>
	</div>
</template>
