<template name="step5">
	<div class="column">
		<h1>Review {{type}} Application</h1>
		<div class="ui purple segment">
			<h3>Content</h3>
			{{#each contentData}}
				<h2 class="ui sub header">{{field}}</h2>
				<span>{{data}}</span>
			{{/each}}
		</div>
		<div class="ui green segment">
			<h3>DJs</h3>
			<div class="ui divided list">
				{{#each dj in djs}}
					<div class="item">
				    {{#if djCleared dj "isOK"}}
							<div class="ui green horizontal label">
								OK
							</div>
						{{else}}
							<div class="ui red horizontal icon label">
								<i class="warning icon"></i>
								{{djCleared dj "message"}}
							</div>
						{{/if}}
				    {{displayName dj}}
				  </div>
				{{/each}}
			</div>
		</div>
		<div class="ui orange segment">
			<h3>Scheduling</h3>
		</div>
	</div>
</template>
