<template name="step1">
	<div class="column">
		{{#if justCreated}}
		<div class="ui info message">
			<div class="header">Application Created!</div>
			<p>Congratulations, your application has been created and saved. It will be saved periodically as you navigate back and forth between the steps.</p>
			<p>An email is on its way to you with further instructions, including how to return to the application in case you can't finish it right now.</p>
		</div>
		{{/if}}
		<h1>DJ List</h1>
		<p>Please enter the Carleton username (<code>fschiller</code>) or email address (<code>fschiller@carleton.edu</code>) belonging to each DJ in your show. Order doesn't matter.</p>
		<p>If you're flying solo, you don't need to touch anything here.</p>
		<p><button class="ui primary button" id="addDJ">Add DJ</button>
			<button class="ui button" id="removeDJ">Remove DJ</button></p>
		<form class="ui form">
			{{#each dj in djList}}
				<div class="field">
					<label>DJ {{displayIndex @index}}</label>
					<input type="text" class="dj-input" data-index="{{@index}}" {{readonly dj}} name="dj-{{@index}}" placeholder="fschiller" value="{{dj}}">
				</div>
			{{/each}}
			<div class="field">
				<button class="ui basic button" id="myShowsButton" type="button">My Shows</button>
				<button class="ui green button" id="continueButton" type="submit">Continue</button>
			</div>
			{{#if inReview}}
				<div class="field">
					<button class="ui large primary button" id="backToReview" type="submit">Back to Review</button>
				</div>
			{{/if}}
		</form>
		{{#each errorPossibilities}}
			{{> errorModal}}
		{{/each}}
	</div>
</template>
