<template name="step1">
	<div class="column">
		<h1>DJ List</h1>
		<p>Please enter the Carleton username (<code>fschiller</code>) or email address (<code>fschiller@carleton.edu</code>) belonging to each DJ in your show. Order doesn't matter.</p>
		<p><button class="ui primary labeled icon button"><i class="add icon"></i>Add DJ</button>
			<button class="ui labeled icon button"><i class="minus icon"></i>Remove DJ</button></p>
		<form class="ui form">
			{{#each dj in djs}}
				<div class="field">
					<label>DJ {{displayIndex @index}}</label>
					<input type="text" name="dj-{{@index}}" placeholder="fschiller" value="{{dj}}">
				</div>
			{{/each}}
		</form>
	</div>
</template>
