<template name="step4">
	<div class="column">
		<h1>Scheduling</h1>
		<form class="ui form">
			<div class="ui segment" style="padding-bottom: 0px">
				<h3>Classes</h3>
				<p>Check the boxes that correspond to your class schedule.</p>
				<div class="three fields">
					{{#each classList}}
					<div class="grouped fields">
						<label>{{title}}</label>
						{{#each item in options}}
						<div class="inline field">
					    <div class="ui checkbox">
					      <input type="checkbox" tabindex="0" class="hidden" name="conflict-class" value="{{item}}" checked="{{classListChecked item}}">
					      <label>{{item}}</label>
					    </div>
					  </div>
						{{/each}}
					</div>
					{{/each}}
				</div>
			</div>
			<div class="ui segment">
				<h3>Other Conflicts</h3>
				<p>Please enter your other recurring conflicts here, such as work study, labs, art classes, or sports.</p>
				<p><button class="ui primary button" id="addDJ">Add conflict</button>
					<button class="ui button" id="removeDJ">Remove conflict</button></p>
				{{#each otherConflicts}}
					<div class="ui segment">
						<div class="fields">
							<div class="four wide field">
								<div class="grouped fields">
									<label>Days</label>
									{{#let conflictIndex=@index daysChecked=days}}
										{{#each weekdays}}
										<div class="field">
											<div class="ui checkbox">
												<input type="checkbox" name="conflictDays-{{conflictIndex}}" tabindex="0" class="hidden" value="{{abbr}}" {{isChecked abbr daysChecked}}>
												<label>{{day}}</label>
											</div>
										</div>
										{{/each}}
									{{/let}}
								</div>
							</div>
							<div class="twelve wide field">
								<div class="field" style="margin-bottom: 1em">
									<label>Start time</label>
									<select class="dropdown" name="conflictEnd-{{@index}}">
										<option value="">Start time</option>
										{{#let startTime=start}}
											{{#each times "start"}}
												<option value="{{value}}" {{timeSelect value startTime}}>{{displayTime}}</option>
											{{/each}}
										{{/let}}
									</select>
								</div>
								<div class="field">
									<label>End time</label>
									<select class="dropdown" name="conflictEnd-{{@index}}">
										<option value="">End time</option>
										{{#let endTime=end}}
											{{#each times "end"}}
												<option value="{{value}}" {{timeSelect value endTime}}>{{displayTime}}</option>
											{{/each}}
										{{/let}}
									</select>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</form>
	</div>
</template>
