<template name="step4">
	<div class="column">
		<h1>Scheduling</h1>
		<form class="ui form">
			{{#if bandemonium}}
				<h3>Select Days Off Campus</h3>
				<p>Bandemonium is Sundays, 5-7pm. If you already know of some Sundays when you will be off campus, please check those off here.</p>
				<div class="grouped fields">
					{{#each sundays}}
					<div class="field">
						<div class="ui checkbox">
							<input type="checkbox" tabindex="0" class="hidden" name="bandemonium-sunday" value="{{item}}" checked="{{sundayChecked item}}">
							<label>{{display}}</label>
						</div>
					</div>
					{{/each}}
				</div>
			{{else}}
				<div class="ui segment" style="padding-bottom: 0px">
					<h3>Basics</h3>
					<div class="two fields">
						<div class="grouped fields">
							<label>Preferred Length</label>
							{{#each lengthOptions}}
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" tabindex="0" class="hidden" name="preferred-length" value="{{item}}" checked="{{preferredLengthChecked item}}">
									<label>{{display}}</label>
								</div>
							</div>
							{{/each}}
						</div>
						<div class="grouped fields">
							<label>Request safe harbor hours? <a id="explainSafeHarbor" data-title="What are safe harbor hours?" data-content='The safe harbor refers to the overnight hours between 10:00 PM and 5:59 AM. Explicit music can only be played in the safe harbor. Some countries call these hours "watershed hours".' data-variation="wide inverted">(Huh?)</a></label>
							{{#each safeHarborOptions}}
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" tabindex="0" class="hidden" name="request-safe-harbor" value="{{item}}" checked="{{safeHarborChecked item}}">
									<label>{{display}}</label>
								</div>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="ui segment" style="padding-bottom: 0px">
					<h3>Classes</h3>
					<p>Check the boxes that correspond to your class schedule.</p>
					<div class="three fields">
						{{#each classList}}
						<div class="grouped fields">
							<label>{{title}}</label>
							{{#each item in options}}
							<div class="inline field">
						    <div class="ui checkbox">
						      <input type="checkbox" tabindex="0" class="hidden" name="conflict-class" value="{{item}}" checked="{{classListChecked item}}">
						      <label>{{item}}</label>
						    </div>
						  </div>
							{{/each}}
						</div>
						{{/each}}
					</div>
				</div>
				<div class="ui segment">
					<h3>Other Conflicts</h3>
					<p>Please enter your other recurring conflicts here, such as work study, labs, art classes, or sports.</p>
					<p><button class="ui primary button addRecurringBlob" data-mode="otherConflicts" type="button">Add conflict</button>
						<button class="ui button removeRecurringBlob" data-mode="otherConflicts" type="button">Remove conflict</button></p>
					{{#each conflict in otherConflicts}}
						{{setIndex conflict "conflict" @index}}
						{{> recurringBlock conflict}}
					{{/each}}
				</div>
				<div class="ui segment">
					<h3>Preferences</h3>
					<p>Please enter your preferences here, order doesn't matter.</p>
					<p><button class="ui primary button addRecurringBlob" data-mode="preferences" type="button">Add preference</button>
						<button class="ui button removeRecurringBlob" data-mode="preferences" type="button">Remove preference</button></p>
					{{#each preference in preferences}}
						{{setIndex preference "pref" @index}}
						{{> recurringBlock preference}}
					{{/each}}
				</div>
			{{/if}}
			<div class="field" style="margin-bottom: 1em">
				<button class="ui basic button" id="goBackButton" type="button">Go back</button>
				<button class="ui green button" id="continueButton" type="submit">Continue</button>
			</div>
		</form>
	</div>
</template>

<template name="recurringBlock">
	<div class="ui segment">
		<div class="fields">
			<div class="four wide field">
				<div class="grouped fields">
					<label>Days</label>
					{{#let itemIndex=conflictIndex daysChecked=days inputMode=mode}}
						{{#each weekdays}}
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" name="{{inputMode}}Days-{{itemIndex}}" data-index="{{itemIndex}}" tabindex="0" class="hidden {{inputMode}}Input" value="{{abbr}}" {{isChecked abbr daysChecked}}>
								<label>{{day}}</label>
							</div>
						</div>
						{{/each}}
					{{/let}}
				</div>
			</div>
			<div class="twelve wide field">
				<div class="field" style="margin-bottom: 1em">
					<label>Start time</label>
					<input type="hidden" name="{{mode}}{{conflictIndex}}-start" data-index="{{conflictIndex}}" value="{{start}}">
					<select class="dropdown {{mode}}Input" data-mode="{{mode}}" data-field="start" data-index="{{conflictIndex}}" name="{{mode}}Start-{{conflictIndex}}">
						<option value="">Start time</option>
						{{#let startTime=start}}
							{{#each times "start"}}
								<option value="{{value}}" {{timeSelect value startTime}}>{{displayTime}}</option>
							{{/each}}
						{{/let}}
					</select>
				</div>
				<div class="field">
					<label>End time</label>
					<input type="hidden" name="{{mode}}{{conflictIndex}}-end" data-index="{{conflictIndex}}" value="{{end}}">
					<select class="dropdown {{mode}}Input" data-mode="{{mode}}" data-field="end" data-index="{{conflictIndex}}" name="{{mode}}End-{{conflictIndex}}">
						<option value="">End time</option>
						{{#let endTime=end}}
							{{#each times "end"}}
								<option value="{{value}}" {{timeSelect value endTime}}>{{displayTime}}</option>
							{{/each}}
						{{/let}}
					</select>
				</div>
			</div>
		</div>
	</div>
</template>
