<template name="step4">
	<div class="column">
		<h1>Scheduling</h1>
		<form class="ui form">
			<div class="ui segment" style="padding-bottom: 0px">
				<h3>Basics</h3>
				<div class="two fields">
					<div class="grouped fields">
						<label>Preferred Length</label>
						{{#each lengthOptions}}
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" tabindex="0" class="hidden" name="preferred-length" value="{{item}}" checked="{{preferredLengthChecked item}}">
								<label>{{display}}</label>
							</div>
						</div>
						{{/each}}
					</div>
					<div class="grouped fields">
						<label>Request safe harbor? <a id="explainSafeHarbor">(Huh?)</a></label>
						{{#each safeHarborOptions}}
						<div class="field">
							<div class="ui radio checkbox">
								<input type="radio" tabindex="0" class="hidden" name="request-safe-harbor" value="{{item}}" checked="{{safeHarborChecked item}}">
								<label>{{display}}</label>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
			<div class="ui segment" style="padding-bottom: 0px">
				<h3>Classes</h3>
				<p>Check the boxes that correspond to your class schedule.</p>
				<div class="three fields">
					{{#each classList}}
					<div class="grouped fields">
						<label>{{title}}</label>
						{{#each item in options}}
						<div class="inline field">
					    <div class="ui checkbox">
					      <input type="checkbox" tabindex="0" class="hidden" name="conflict-class" value="{{item}}" checked="{{classListChecked item}}">
					      <label>{{item}}</label>
					    </div>
					  </div>
						{{/each}}
					</div>
					{{/each}}
				</div>
			</div>
			<div class="ui segment">
				<h3>Other Conflicts</h3>
				<p>Please enter your other recurring conflicts here, such as work study, labs, art classes, or sports.</p>
				<p><button class="ui primary button" id="addConflict" type="button">Add conflict</button>
					<button class="ui button" id="addCommon" type="button">Add lab or art class</button>
					<button class="ui button" id="removeConflict" type="button">Remove conflict</button></p>
				{{#each conflict in otherConflicts}}
					{{setIndex conflict @index}}
					{{> recurringBlock conflict}}
				{{/each}}
			</div>
			<div class="ui segment">
				<h3>Preferences</h3>
				<p>Please enter your preferences here, order doesn't matter.</p>
				<p><button class="ui primary button" id="addPref" type="button">Add preference</button>
					<button class="ui button" id="removePref" type="button">Remove preference</button></p>
				{{#each preference in preferences}}
					{{setIndex preference @index}}
					{{> recurringBlock preference}}
				{{/each}}
			</div>
			<div class="field" style="margin-bottom: 1em">
				<button class="ui basic button" id="goBackButton" type="button">Go back</button>
				<button class="ui green button" id="continueButton" type="submit">Continue</button>
			</div>
		</form>
		<div class="ui modal" id="commonConflictModal">
			<div class="header">Add Lab or Art</div>
			<div class="content">
				<h4 class="ui horizontal divider header">
				  <i class="lab icon"></i>
				  Labs
				</h4>
				<p>Common lab times are 8 AM to noon, and 1 PM to 5 PM.</p>
				<table class="ui table">
					<thead>
						<tr>
							<th class="four wide">Day</th>
							<th class="six wide">Morning lab (8 AM - noon)</th>
							<th class="six wide">Afternoon lab (1 PM - 5 PM)</th>
						</tr>
					</thead>
					<tbody>
						{{#each labDays}}
							<tr>
								<td>{{day}}</td>
								<td><button class="ui dismissCommons button" data-day="{{abbr}}" data-start="8:00" data-end="12:00">{{day}} morning lab</button></td>
								<td><button class="ui dismissCommons button" data-day="{{abbr}}" data-start="13:00" data-end="17:00">{{day}} afternoon lab</button></td>
							</tr>
						{{/each}}
					</tbody>
				</table>
				<h4 class="ui horizontal divider header">
				  <i class="paint brush icon"></i>
				  Art classes
				</h4>
				<table class="ui table">
					<thead>
						<tr>
							<th class="four wide">Day</th>
							<th class="six wide">Morning art class</th>
							<th class="six wide">Afternoon art class</th>
						</tr>
					</thead>
					<tbody>
						{{#each artConflicts}}
							<tr>
								<td>{{displayAs}}</td>
								{{#each options}}
									<td><button class="ui dismissCommons button" data-days="{{days}}" data-start="{{start}}" data-end="{{end}}">{{title}}</button></td>
								{{/each}}
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<div class="actions">
				<div class="ui cancel button">Never mind</div>
			</div>
		</div>
	</div>
</template>

<template name="recurringBlock">
	<div class="ui segment">
		<div class="fields">
			<div class="four wide field">
				<div class="grouped fields">
					<label>Days</label>
					{{#let conflictIndex=itemIndex daysChecked=days}}
						{{#each weekdays}}
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" name="conflictDays-{{conflictIndex}}" tabindex="0" class="hidden" value="{{abbr}}" {{isChecked abbr daysChecked}}>
								<label>{{day}}</label>
							</div>
						</div>
						{{/each}}
					{{/let}}
				</div>
			</div>
			<div class="twelve wide field">
				<div class="field" style="margin-bottom: 1em">
					<label>Start time</label>
					<select class="dropdown" name="conflictEnd-{{itemIndex}}">
						<option value="">Start time</option>
						{{#let startTime=start}}
							{{#each times "start"}}
								<option value="{{value}}" {{timeSelect value startTime}}>{{displayTime}}</option>
							{{/each}}
						{{/let}}
					</select>
				</div>
				<div class="field">
					<label>End time</label>
					<select class="dropdown" name="conflictEnd-{{itemIndex}}">
						<option value="">End time</option>
						{{#let endTime=end}}
							{{#each times "end"}}
								<option value="{{value}}" {{timeSelect value endTime}}>{{displayTime}}</option>
							{{/each}}
						{{/let}}
					</select>
				</div>
			</div>
		</div>
	</div>
</template>
