<template name="sidebar">
	{{#if currentUser}}
		<div class="item">
			<img class="ui tiny centered circular white-bordered image" src="https://apps.carleton.edu/stock/ldapimage.php?id={{userNetID}}">
			<p style="text-align: center;"><strong>{{userName}}</strong></p>
		</div>
	{{/if}}
	<a class="item" id="startLink">Start application</a>
	<a class="item" id="myShowsLink">My shows</a>
	<a class="item" id="scheduleLink">Schedule</a>
	{{#if currentUser}}
		<a class="item" id="signOutLink">Sign out</a>
	{{else}}
		<a class="item" id="signInLink">Sign in</a>
	{{/if}}
	<a class="item" href="http://www.krlx.org/">Back to krlx.org</a>
</template>
