<template name="layout">
	<div class="ui inverted vertical sidebar menu">
		{{> sidebar}}
	</div>
	<div class="pusher">
		<div class="ui stackable grid" style="margin-left: 0; margin-right: 0;">
			<div class="three wide computer tablet only hide-print column">
				<div class="ui fixed left vertical inverted menu" style="min-height: 100%; width: inherit">
					{{> sidebar}}
				</div>
			</div>
			<div class="thirteen wide column full-width-on-print">
				<div class="ui secondary menu hide-print">
					<a class="toc item">
						<i class="sidebar icon"></i>
					</a>
				</div>
				<div class="ui main grid container">
					{{> yield}}
				</div>
				<div id="contentOffseterizer" style="height: 1000px" class="hide-print">
				</div>
			</div>
		</div>
	</div>
</template>
